In [1]:
import pandas as pd

In [2]:
netflix_file = "netflix_titles.csv"
other_file = "hulu_and_prime_titles.csv"

In [3]:
db_netflix = pd.read_csv(netflix_file)
db_other = pd.read_csv(other_file)

We imported pandas, created the csv file paths, and created the dataframes

In [4]:
db_other.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

This table shows the raw data we will use for hulu and prime video

In [5]:
db_netflix = db_netflix.loc[db_netflix['country'].str.contains('United States', na=False)]

Created a table to make sure that ony Netflix movies from the United States are going to displayed.

In [6]:
db_netflix['Netflix'] = 1
db_netflix = db_netflix[['title','Netflix']]

Created a dataframe to make sure that only Netflix movies from the United States are going to displayed.

In [7]:
db_netflix = db_netflix.rename(columns={'title':'Title'})
db_netflix = db_netflix.reset_index(drop=True)
db_netflix.head()

  Title  Netflix
0     9        1
1    21        1
2   187        1
3  1922        1
4  1983        1

Grabbed all Netflix titles, sorted them alphabetically, and added a column to mark that they appear on Netflix

In [8]:
db_hulu = db_other.loc[db_other['Hulu'] == 1]

Created the Hulu table and used the Hulu field to make sure only Hulu Titles are present.

In [9]:
db_hulu = db_hulu[['Title','Hulu']]
db_hulu = db_hulu.sort_values(by='Title')
db_hulu = db_hulu.reset_index(drop=True)

Grabbed only the fields needed, sorted by title, and then reset the index

In [10]:
db_hulu.head()

                        Title  Hulu
0             10.0 Earthquake     1
1                 100 Streets     1
2                       10x10     1
3                  11 Minutes     1
4  12 Dog Days Till Christmas     1

Created the Hulu table and used sort values & reset index to make sure only Hulu Titles are present.

In [11]:
db_primevideo = db_other.loc[db_other['Prime Video'] == 1]

In [12]:
db_primevideo = db_primevideo[['Title','Prime Video']]
db_primevideo = db_primevideo.rename(columns={'Prime Video':'PrimeVideo'})
db_primevideo = db_primevideo.sort_values(by='Title')
db_primevideo = db_primevideo.reset_index(drop=True)

In [13]:
db_primevideo.head()

                                               Title  PrimeVideo
0  "22" A film about Veterans, Healthcare and Sui...           1
1                                   #IMomSoHard Live           1
2                                          #LoveSwag           1
3  $100 and a T-Shirt: A Documentary About Zines ...           1
4                                    $elfie Shootout           1

Created the Prime Video dataframe and used sort values & reset index to show Prime Video Titles, same as before.

In [14]:
df_netflix = pd.DataFrame({
    'Title':db_netflix['Title'],
    'netflix':db_netflix['Netflix']
})
df_hulu = pd.DataFrame({
    'Title':db_hulu['Title'],
    'hulu':db_hulu['Hulu']
})
df_primevideo = pd.DataFrame({
    'Title':db_primevideo['Title'],
    'primevideo':db_primevideo['PrimeVideo']
})
df_netflix = df_netflix.set_index('Title')
df_hulu = df_hulu.set_index('Title')
df_primevideo = df_primevideo.set_index('Title')

print(df_netflix.head())
print(df_hulu.head())
print(df_primevideo.head())

       netflix
Title
9            1
21           1
187          1
1922         1
1983         1
                            hulu
Title
10.0 Earthquake                1
100 Streets                    1
10x10                          1
11 Minutes                     1
12 Dog Days Till Christmas     1
                                                    primevideo
Title
"22" A film about Veterans, Healthcare and Suic...           1
#IMomSoHard Live                                             1
#LoveSwag                                                    1
$100 and a T-Shirt: A Documentary About Zines i...           1
$elfie Shootout                                              1

Here we convert the pandas series back into dataframes to use join criteria. We have to set the title as the index for this

In [15]:
df_master = df_netflix.join(df_hulu,how='outer')
print(df_master)
df_master = df_master.join(df_primevideo,how='outer')
print(df_master)

              netflix  hulu
Title
#Rucker50         1.0   NaN
#blackAF          1.0   NaN
#realityhigh      1.0   NaN
(T)ERROR          1.0   NaN
(Un)Well          1.0   NaN
...               ...   ...
Zombieland        1.0   1.0
Zoom              1.0   NaN
ma ma             NaN   1.0
Æon Flux          1.0   1.0
يوم الدين         1.0   NaN

[4148 rows x 2 columns]
                                                    netflix  hulu  primevideo
Title
"22" A film about Veterans, Healthcare and Suic...      NaN   NaN         1.0
#IMomSoHard Live                                        NaN   NaN         1.0
#LoveSwag                                               NaN   NaN         1.0
#Rucker50                                               1.0   NaN         NaN
#blackAF                                                1.0   NaN         NaN
...                                                     ...   ...         ...
Æon Flux                                                1.0   1.0         NaN
يوم الدين                                               1.0   NaN         NaN
जान तेरे नाम                                            NaN   NaN         1.0
审死官                                                     NaN   NaN         1.0
워터댄스                                                    NaN   NaN         1.0

[16080 rows x 3 columns]

Now we are joining the dataframes on the title index, using outer join to keep everything

In [16]:
df_master = df_master.fillna(0)
print (df_master)

                                                    netflix  hulu  primevideo
Title
"22" A film about Veterans, Healthcare and Suic...      0.0   0.0         1.0
#IMomSoHard Live                                        0.0   0.0         1.0
#LoveSwag                                               0.0   0.0         1.0
#Rucker50                                               1.0   0.0         0.0
#blackAF                                                1.0   0.0         0.0
...                                                     ...   ...         ...
Æon Flux                                                1.0   1.0         0.0
يوم الدين                                               1.0   0.0         0.0
जान तेरे नाम                                            0.0   0.0         1.0
审死官                                                     0.0   0.0         1.0
워터댄스                                                    0.0   0.0         1.0

[16080 rows x 3 columns]

Filling in all NA values as 0

In [17]:
import sqlalchemy

In [18]:
engine = sqlalchemy.create_engine("postgresql://postgres:postgres@localhost/ETL_Project")
con = engine.connect()
print(engine.table_names())

We import sqlalchemy and set up our engine, con, and print table names

In [19]:
df_master.to_sql('movies',con,if_exists="replace")

we upload our master dataframe into the movies table, replacing data if it already exists